@font-face {
    font-family: 'Christmas';
    src: url('../fonts/MerryChristmasFlake.eot');
    src: url('../fonts/MerryChristmasFlake.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MerryChristmasFlake.woff2') format('woff2'),
        url('../fonts/MerryChristmasFlake.woff') format('woff'),
        url('../fonts/MerryChristmasFlake.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}